.nav-primary { 
  margin-bottom: 240px;
 }
 .after-post {
  margin: auto;
  padding-top: 50px;
  background: #fff url(../images/industry-bg.png) repeat-x center top;
  width: 100%;
  min-height: 300px;
}
.after-post .home-widget {
  width: 60%;
  margin: auto;
}
.site-inner {
  background: #fff; /* url(../images/industry-bg.png) repeat-x center 450px; */
  padding-top: 20px;
}
.site-inner .wrap {
	max-width: 100%;
}
.industry .et_builder div.et_lb_resizable:nth-of-type(1) {
  background: #fff;
  width: 100%;
  margin-bottom: 0;
  }
.industry .et_builder div.et_lb_resizable:nth-of-type(2) {
  background: #e3e9ee url(../images/industry-bg.png) top repeat-x;
  margin: 0;
  padding: 60px 100px;
  }
.industry .et_builder div.et_lb_resizable:nth-of-type(3) {
  background: #e3e9ee url(../images/onesuite-bg-bottom.png) top repeat-x;
  padding: 50px 0;
  width: 100%;
  
  } 
.industry-intro-copy img {max-width: 95%; height: auto; margin-right: 30px;}
.industry-intro-copy {
  font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4e5e6d;
  width: 1352px;
  margin: 0 auto!important;
  padding: 40px 40px 0 40px;
}
.industry-intro-copy div {
  overflow: hidden;
  }
.industry-intro-copy a.pdf {
  font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #6f2075;
  text-transform: uppercase;
  font-size: .8em;
}
.industry-intro-copy a.pdf:before {
  font-family: FontAwesome;
  content: "\f1c1      ";
}
.industry-intro-copy a.pdf:after {
  font-family: FontAwesome;
  content: "                 \f0da";
}
.industry-intro-copy a i{
  padding-right: 10px;
 }
.industry-intro-copy  h1{
  font-size: 36px;
  color: #6f2075;
  font-family: "Stainless","Helvetica Neue", Helvetica, Arial, sans-serif;
}
.industry-intro-copy  h3 {
  font-size: 26px;
  color: #0087bf;
  font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.industry-intro-logo {
  text-align: center;
  min-height: 400px;
  padding-top: 20px;
}
#menu-solutions {
  background: #f0f0f1 url(../images/solutions-menu-bg.png) no-repeat left 0;
 }
 .et_lb_module {float: none!important;}
.nav-secondary ul li:first-child {
  margin-left: 120px;
  padding-top: 3px;
} 

/* Style the accordian menus */
.industry .et_lb_module_content {
 border: 0px;
}
.industry .et_lb_first {
  /* min-height: 400px; */
}
.industry .et_lb_module .et_lb_toggle {
  margin: 0 0 6px 2%; 
}
.industry .et_lb_module_content_inner {
  background-color: rgb( 255, 255, 255 );
  background-image: none;
}
.industry .et_lb_toggle_open .et_lb_toggle_title{
 color: #6f2075;
}
.industry .et_lb_toggle_title {
  font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0087bf;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
.industry .et_lb_toggle_title  span.et_toggle {
  width: 20px;
  height: 20px;
  top: 0px;
 }
 .industry .et_lb_toggle_content {
     font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
	 color: #000;
	 line-height: 20px;
 }
.industry .et_lb_toggle_close h3.et_lb_toggle_title span.et_toggle {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.leftside {
	width: 48%;
	float: left !important;
}

.rightside {
	width: 45%;
	float: right !important;
}