.nav-primary { 
  margin-bottom: 240px;
 }
#menu-standard {
  background: #f0f0f1 url(../images/standard-menu-bg.png) no-repeat left 0;
 }
.site-inner {
  background: #f0f0f1 url(../images/standard-bg.png) repeat-x;
  padding-top: 20px;
}
.standard-intro-copy {
  padding: 40px 20px 0 0;
  font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4e5e6d;
  min-height: 400px;
}
.standard-intro-copy a.pdf {
  font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #6f2075;
  text-transform: uppercase;
  font-size: .8em;
}
.standard-intro-copy a.pdf:before {
  font-family: FontAwesome;
  content: "\f1c1      ";
}
.standard-intro-copy a.pdf:after {
  font-family: FontAwesome;
  content: "                 \f0da";
}
.standard-intro-copy a i{
  padding-right: 10px;
 }
.standard-intro-copy  h1{
  font-size: 36px;
  color: #6f2075;
  font-family: "Stainless","Helvetica Neue", Helvetica, Arial, sans-serif;
}
.standard-intro-copy  h3 {
  font-size: 26px;
  color: #0087bf;
  font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.standard-intro-logo {
  text-align: center;
  min-height: 400px;
  padding-top: 20px;
}
.standard-callout {
  font-size: 36px;
  color: #4e5e6d;
  font-family: "Stainless Light","Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 44px;
  padding: 0 120px;
  background-color: #fff;
  margin-top: 80px;
  height: 350px;
}
.standard-callout p {
position: relative;
  top: 50%;
  transform: translateY(-50%);
  }
.standard-bottom  {
  color: #4e5e6d;
  font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 400px;
  margin-top: 80px;
}
.standard-bottom div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  }
.standard-bottom h3 {
  font-size: 26px;
  color: #0087bf;
  font-weight: 300;
    font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Style the accordian menus */
.standard .et_lb_module_content {
 border: 0px;
}
.standard .et_lb_first {
  /* min-height: 400px; */
}
.standard .et_lb_module .et_lb_toggle {
  margin: 0 0 6px 2%; 
}
.standard .et_lb_module_content_inner {
  background-color: rgb( 255, 255, 255 );
  background-image: none;
}
.standard .et_lb_toggle_open .et_lb_toggle_title{
 color: #6f2075;
}
.standard .et_lb_toggle_title {
  font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0087bf;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
.standard .et_lb_toggle_title  span.et_toggle {
  width: 20px;
  height: 20px;
  top: 0px;
 }
 .standard .et_lb_toggle_content {
     font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
	 color: #000;
	 line-height: 20px;
 }
.standard .et_lb_toggle_close h3.et_lb_toggle_title span.et_toggle {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}