.nav-primary { 
  margin-bottom: 240px;
 }
#menu-standard {
  background: #f0f0f1 url(../images/standard-menu-bg.png) no-repeat left 0;
 }
.site-inner {
  padding-top: 0px;
  max-height: 100%;
  background-color: #fff;
}
.site-inner .wrap { max-width: 100%; }
.content-sidebar-wrap {background-color: #e3e9ee;}
.standard .et_builder div.et_lb_resizable:nth-of-type(1) {
  background: #e3e9ee url(../images/onesuite-bg-top.png) bottom repeat-x;
  width: 100%;
  margin-bottom: 0;
  }
.standard .et_builder div.et_lb_resizable:nth-of-type(2) {
  background-color: white;
  margin: 0;
  padding: 60px 100px;
  }
.standard .et_builder div.et_lb_resizable:nth-of-type(3) {
  background: #e3e9ee url(../images/onesuite-bg-bottom.png) top repeat-x;
  padding: 50px 0;
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  } 

.standard-intro-copy img {max-width: 95%; height: auto; margin-right: 30px;}
.standard-intro-copy {
  font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4e5e6d;
  width: 1352px;
  margin: 0 auto!important;
  padding: 40px;
  min-height: 350px;
}
.standard-intro-copy div {
  overflow: hidden;
  }
.et_lb_module {float: none!important;}
.standard-intro-copy a.pdf {
  font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #6f2075;
  text-transform: uppercase;
  font-size: .8em;
}
.standard-intro-copy a.pdf:before {
  font-family: FontAwesome;
  content: "\f1c1      ";
}
.standard-intro-copy a.pdf:after {
  font-family: FontAwesome;
  content: "                 \f0da";
}
.standard-intro-copy a i{
  padding-right: 10px;
 }
.standard-intro-copy  h1{
  font-size: 36px;
  color: #6f2075;
  font-family: "Stainless","Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 30px;
}
.standard-intro-copy  h2{
  color: #0087bf;
  font-size: 24px;
  font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 5px;
  font-weight: 400;
}
.standard-intro-copy  h3 {
  font-size: 20px;
  color: #0087bf;
  font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 5px;
  font-weight: 300;
}
.standard-intro-copy  .byline {
  color: #0087bf;
  font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 5px;
}
.standard-intro-copy p {margin-bottom: 5px;}
.standard-intro-copy .more-link,
.chpcs_more a {color: #6f2075; }
.standard-intro-copy .more-link:after,
.chpcs_more a:after {
  font-family: FontAwesome;
  content: "\00a0 \00a0 \00a0 \00a0 \f0da";
}
.chpcs_more a {
 color: #6f2075!important;
 text-transform: uppercase!important;
 font-size: 14px!important;
 }
.standard-intro-logo {
  text-align: center;
  min-height: 400px;
  padding-top: 20px;
}
.standard-callout {
  font-size: 36px;
  color: #4e5e6d;
  font-family: "Stainless Light","Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 44px;
  background-color: #fff;
  margin: 0px auto!important;
  width: 1152px;
}
.standard-callout p {
  margin-bottom: 0px;
  }
.standard-bottom  {
  color: #4e5e6d;
  font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 400px;
  margin-top: 80px;
}
.standard-bottom div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  }
.standard-bottom h3 {
  font-size: 26px;
  color: #0087bf;
  font-weight: 300;
    font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Style the accordian menus */
.standard .et_lb_module_content {
 border: 0px;
}
.standard .et_lb_first {
  /* min-height: 410px; */
}
.standard .et_lb_module .et_lb_toggle {
  margin: 0 0 6px 2%; 
}
.standard .et_lb_module_content_inner {
  background-color: rgb( 255, 255, 255 );
  background-image: none;
}
.standard .et_lb_toggle_open .et_lb_toggle_title{
 color: #6f2075;
}
.standard .et_lb_toggle_title {
  font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0087bf;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
.standard .et_lb_toggle_title  span.et_toggle {
  width: 20px;
  height: 20px;
  top: 0px;
 }
 .standard .et_lb_toggle_content {
     font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
	 color: #000;
	 line-height: 20px;
 }
.standard .et_lb_toggle_close h3.et_lb_toggle_title span.et_toggle {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* NEed to handle widget areas for things like blog/news/careers pages */
 .standard .et_lb_widget_area {
   font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4e5e6d;
  width: 1152px;
  margin: 0 auto!important;
  padding: 40px;
 }
 
 .standard .entry-title,
 .standard .entry-title a {
  color: #0087bf!important;
  font-size: 24px!important;
  font-family: "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif!important;
  font-weight: normal!important;
}
.chpcs_foo_content{
  border-radius: 4px;
  background-color: rgb( 241, 241, 241 );
  box-shadow: 3.214px 3.83px 0px 0px rgba(20,19,20,0.21);
  line-height: 22px;
  padding: 20px;
  text-align: left;
}
.chpcs_foo_content p {
  padding-bottom: 0;
  margin-bottom: 0
  }

.chpcs_foo_content .chpcs_img {
  min-height: 200px;
  }
.chpcs_title {min-height: 55px;}
.chpcs_image_carousel .chpcs_prev, .chpcs_image_carousel .chpcs_next {
  color: #0087bf!important;
}

#featured-post-5 {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
#featured-post-5 article {
	min-height: 250px;
	margin-right: 20px;
}
#featured-post-5 article h2.entry-title {
	min-height: 70px;
	margin-bottom: 5px;
}
#featured-post-5 article p.entry-meta {
	min-height: 20px;
	margin-bottom: 5px;
	color: #0087bf;
}
#featured-post-5 article p.entry-meta a {color: #0087bf;}
#featured-post-5 article .more-link {color: #6f2075;}
#featured-post-5 article .more-link:after {
  font-family: FontAwesome;
  content: "\00a0 \00a0 \00a0 \00a0 \f0da";
}

.careers ul.primary li span {
  font-size: .9em;
  color: #b6bbbf;
    position: relative;
  top: -7px;
}
.careers ul.primary{
  width: 35%;
  float: left;
  }
.careers div.right {
  margin-left: 20px;
  padding: 5px;
  float: left;
  text-align: right;
  margin-top: 50px;
  display: none;
}
.careers article.main.right {
  float: left;
  width: 50%;
  margin-left: 30px;
}
.h3 {margin-top: 30px;}

